<div class="form_containers invite_response_container">
  <h1><%= @message ? @message : @error_message %></h1>

  <% unless @error_message.present? -%>
    <div class="menu_item invitation_respond" ng-show="!afteraccpt_signin" hover-highlight accept-invitation newgroup="<%= @new_group_invite %>">Click to Accept</div>
    <div class="message"></div>
    <div class="afteraccpt_signin" ng-show="afteraccpt_signin" ng-click="rdr2signin()">Sign In</div>
  <% end -%>

</div>
