<div class="form_containers optout_response_container">
    <h1><%= @message ? @message : @error_message %></h1>

    <% unless @error_message.present? -%>
        <div ng-show="!after_optout">
          <form name="optoutform" novalidate>
            <p class="radioline">
              <input name="opt_out" ng-model="opt_out" type="radio" value="group" ng-checked="opt_out === 'group'"> Opt-out from the <%= @sphere_name %> Spherical group.
            </p>
            <p class="radioline">
              <input name="opt_out" ng-model="opt_out" type="radio" value="global"> Opt-out from all Spherical groups.
            </p>
          </form>

          <div class="menu_item invitation_respond" style="margin-top:15px;" hover-highlight opt-out>Click to Opt Out</div>
          <div class="accpt_signin">Or, you could change your mind and <a href="<%= @accept_link %>" target="_self">accept.</a></div>
        </div>

        <div class="message" ng-show="after_optout"></div>
    <% end -%>

</div>
