<div id="user_area" ng-controller="UserCtrl">
    <div id="users_controls">
        <div class="control_panels" ng-repeat="panel in controlPanels">
            <div class="panel" ng-class="{highlight: panel.highlight}" ng-style="panel.bg" highlight-panel click-panel panelobj="panel"><h3>{{panel.text}}<br />{{panel.current_user}}</h3></div>
        </div>
    </div>
    <div class="expand" ng-class="panelstate.classes" ng-show="panelstate.visible">
        <div ui-view="ctrlpanel"></div>
    </div>
</div>

<div id="dashlogo"><img alt="" ng-src="{{spheredata.dashlogo}}"></div>


<div ng-controller="ActivityCtrl" class="activity_ctrl">
    <div class="topic-swiper" topic-swiper slidearray="spheredata.topics"></div>

    <div class="controls_bar">
        <div class="topic_controls">
            <div class="control" topic-cntrl-btn btntarget="all" tool-tip>
                <span ng-class="{active:currentTopicIdx >= 0}">&nbsp;</span>
                <div class="tooltip_above">All Topics<div class="arrow">&nbsp;</div></div>
            </div>
            <div class="control" topic-cntrl-btn btntarget="previous" tool-tip>
                <span ng-class="{active:currentTopicIdx > 0}" style="background-position:-21px 0;">&nbsp;</span>
                <div class="tooltip_above">Previous Topic<div class="arrow">&nbsp;</div></div>
            </div>
            <div class="control" topic-cntrl-btn btntarget="next" tool-tip>
                <span ng-class="{active:(currentTopicIdx < spheredata.num_topics-1 && currentTopicIdx >= 0)}" style="background-position:-46px 0;">&nbsp;</span>
                <div class="tooltip_above">Next Topic<div class="arrow">&nbsp;</div></div>
            </div>
            <div class="control_rt" cntrlbar-btn btntarget="new_discussion" tool-tip>
                <span class="discussion" ng-class="{active: visible.show_new_discussion()}">&nbsp;</span>
                <div class="tooltip_above twoln">Start a New Discussion<div class="arrow">&nbsp;</div></div>
            </div>
        </div>
    </div>

    <div class="activity_window">
        <div class="topic_indicator" id="{{currentTopic.id}}">
            <h3 ng-show="topicIndicatorVisible">{{currentTopic.name}}</h3>
            <h4 ng-click="activityShow('stories')" ng-class="{active: visible.stories}">Stories</h4>
            <h4 ng-click="activityShow('discussions')" ng-class="{active: visible.discussions}" ng-show="state.includes('**.topic.**')">Discussions</h4>
        </div>
        <div class="item_display">
            <div class="item-swiper" ng-show="visible.stories" item-swiper itemarray="topicItems"></div>
            <div class="discussions" ng-show="visible.discussions" discussion-display></div>
            <div class="new_discussion" ng-show="visible.discussion_edit" discussion-edit currenttopic="currentTopic.id" visible="visible" chooserdata="chooserdata"></div>
        </div>
    </div>
</div>
