.DS_Store
/log/*.log
/tmp
.sass-cache/
/.bundle
dev_assets/*
config/initializers/social_auth_keys.rb
config/initializers/server_specific.rb
config/initializers/better_errors.rb
script/sidekiq.sh
*.sublime-*
Vagrantfile
.vagrant/*
public/uploads/*
/.ruby-version
/nginx.conf.erb
/passenger-standalone.json

