<div class="resource_form" perf-scrlbar>
  <h3>{{visible.new_edit_resource}} Resource</h3>

  <form name="resourceform" novalidate>
    <!-- TODO: use config instead of these hidden fields -->
    <input type="hidden" name="resource_ctx" ng-model="resource_ctx" ng-init="resource_ctx = spheredata.channel_ctx_id">
    <input type="hidden" name="resource_sphere" ng-model="resource_sphere" ng-init="resource_sphere = spheredata.channel_identifier">
    <input type="hidden" name="resource_id" ng-model="newresource.id">
    <fieldset>
      <p class="fld">
        <span class="label">Name</span>
        <input type="text" placeholder="Enter Resource Name" name="resource_name" ng-model="resource_name" required is-focussed save-new-resource />
        <span class="ok" ng-show="resourceform.resource_name.$dirty && resourceform.resource_name.$valid && !_focussed.resource_name && !newresource.checking"></span>
        <span class="error" ng-show="resourceform.resource_name.$dirty && resourceform.resource_name.$error.required && !_focussed.resource_name">required</span>
        <span class="error" ng-show="resourceform.resource_name.$dirty && resourceform.resource_name.$error.unique_rname && !_focussed.resource_name && !newresource.checking">already in use</span>
      </p>
      <p class="rnamecaption" ng-show="!newresource || !newresource.id">After naming your new resource, you'll be able to upload files to it.</p>

      <p>
        <textarea name="resource_description" class="resource_description" ng-model="resource_description" cols="30" rows="3" placeholder="Optional brief description of this resource" ng-show="newresource && newresource.id"></textarea>
      </p>
    </fieldset>

    <fieldset class="offset">
      <p class="fld">
        <span class="label">List of URLs</span>
      </p>
      <p class="url_input">
        <span class="anotherurl" another-url>&nbsp;</span>
        <input type="text" placeholder="URL" name="url_1" ng-model="url_1" is-focussed />
      </p>
    </fieldset>
  </form>

  <form class="resource-dropzone dropzone" ng-show="newresource && newresource.id">
    <input name="resrc_ctx" type="hidden" value="{{spheredata.channel_ctx_id}}" />
    <input type="hidden" name="resource_id" value="{{newresource.id}}">
    <div class="dz-message">To upload files,<br />drop here (or click).</div>
    <div class="upload-preview dropzone-previews">
      <div class="resource_list"></div>
    </div>
  </form>

  <div class="menu_item save" hover-highlight save-resource ng-show="newresource && newresource.id && resourceform.resource_name.$dirty && resourceform.resource_name.$valid && !_focussed.resource_name">Save<span class="resource_feedback" ng-class="{fbk_error: fbk_error}">{{resource_fbk}}</span></div>
  <div class="menu_item delete" hover-highlight delete-resource ng-show="newresource && newresource.id && resourceform.resource_name.$dirty && resourceform.resource_name.$valid && !_focussed.resource_name">Delete</div>
  <div class="closebox" resource-close-box>Close</div>
</div>
