<div class="share_form">
  <form name="shareinviteform" novalidate>
    <!-- TODO: use config instead of these hidden fields -->
    <input type="hidden" name="invite_ctx" ng-model="invite_ctx" ng-init="invite_ctx = 'planetwork'">
    <input type="hidden" name="invite_sphere" ng-model="invite_sphere" ng-init="invite_sphere = 'BFI'">
    <p><span class="info label">Share</span>&nbsp;<em>{{current_headline}}</em></p>
    <fieldset>
      <p class="fld">
        <span class="fld label">With</span>
        <input type="email" placeholder="Email Address" name="invite_email" ng-model="invite_email" is-focussed invitable-email />
        <span class="ok" ng-show="shareinviteform.invite_email.$dirty && shareinviteform.invite_email.$valid && !_focussed.invite_email"></span>
        <span class="error" ng-show="shareinviteform.invite_email.$dirty && shareinviteform.invite_email.$error.required && !_focussed.invite_email">required</span>
        <span class="error" ng-show="shareinviteform.invite_email.$dirty && shareinviteform.invite_email.$error.invalid && !_focussed.invite_email && !shareinviteform.invite_email.$error.required">invalid</span>
        <!-- <span class="spinner" ng-show="checking_email"><img src="{{sphr_hst}}assets/ajax-loader.gif" /></span> -->
      </p>

      <p class="chkbox" ng-show="is_invitable && !_focussed.invite_email">
        <input type="checkbox" name="also_invite" ng-model="also_invite" />
        <span>Also send an invitation to join this sphere.</span>
      </p>
      <p ng-show="also_invite && is_invitable && !_focussed.invite_email"><span class="info label">Invite as</span>
          <span class="radioline">
            <input name="role" ng-model="invite_role" type="radio" value="participant" ng-checked="invite_role === 'participant'"> Participant
            <input name="role" ng-model="invite_role" type="radio" value="curator"> Curator
            <input name="role" ng-model="invite_role" type="radio" value="demo"> Demo
          </span>
      </p>

      <p>
        <span class="fld label">Add a p.s.</span>
        <textarea class="email_ps" name="email_ps" ng-model="email_ps" placeholder="Optionally personalize the email here." rows="12"></textarea>
      </p>

      <p class="share_send_btn">
        <span class="feedback" ng-show="shareinviteform.$pristine && show_share_feedback" ng-class="{fbk_error: share_error}">{{share_message}}</span>
        <span class="spinner btn" ng-show="shareinviteform.$pristine && show_share_spinner"><img src="{{sphr_hst}}assets/ajax-loader.gif" /></span>
        <input type="button" ng-click="shareInviteSubmit()" ng-class="{active: shareinviteform.$dirty && shareinviteform.$valid && !_focussed.invite_email}" class="share_send" name="share_send" value="Send" hover-highlight></p>
    </fieldset>
  </form>

  <div class="inv_preview"
    <p>
      <span class="fld label">Email will read:</span>
    </p>
    <p class="email_text">To: {{invite_email || '[email]'}},
  <br /><br />
  {{signedin.screenname}} would like to share the following item on the {{invite_sphere}} sphere with you:
  <br /><br />
  {{current_headline}}
  <br />
  <span ng-show="!also_invite">{{thiswindow.location.origin}}/#/sphere/[link]</span>
  <span ng-show="also_invite">{{thiswindow.location.origin}}/#/invitation/[link]</span>
  <span ng-show="also_invite"><br /><br />
  You are also invited to join the BFI sphere, part of Spherical.
  <br /><br />
  Clicking on the link above will bring you to the shared item, where an optional invitation link will be also be waiting for you.</span>
  <br /><br /><span ng-show="email_ps">P.S. {{email_ps}}</span>
    </p>
  </div>
</div>
