<div class="form_containers admin_container" ng-controller="AdminCtrl">
  <h1>Admin</h1>
  <form name="useradminform" novalidate>
    <fieldset>
      <p>
        <span class="fld label">User Handle</span>
        <input type="text" name="userhandle" ng-model="userhandle" is-focussed user-exists />
        <span class="ok" ng-show="useradminform.userhandle.$dirty && useradminform.userhandle.$valid && !_focussed.userhandle && !checking_userhandle"></span>
        <span class="error" ng-show="useradminform.userhandle.$dirty && useradminform.userhandle.$error.user_exists && !_focussed.userhandle && !checking_userhandle">not found</span>
        <span class="spinner" ng-show="checking_userhandle"><%= image_tag('ajax-loader.gif') %></span>
      </p>
    </fieldset>
  </form>

  <form class="pprofile-dropzone dropzone" admin-dzone>
      <fieldset>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div class="dz-message">To upload picture<br />for the above user<br />drop file here<br />(or click)</div>
      </fieldset>
  </form>
  <div style="position:relative">
    <div class="menu_item savepic" ng-class="{active: adminuserdata.userid && picture_present && !picture_error}" hover-highlight admin-save-pic>Save</div>
    <div class="menu_item cancelpic" ng-class="{active: picture_present}" hover-highlight admin-cancel-pic>Cancel</div>
  </div>

  <div style="margin-top:30px;">
    <form name="userprofadminform" novalidate>
      <fieldset>
        <textarea class="userprof" name="userprof" ng-model="userprof" placeholder="Enter user's default profile." rows="12" is-focussed userprof-clearout></textarea>
      </fieldset>
    </form>
    <div style="position:relative">
      <div class="menu_item saveprof" ng-class="{active: adminuserdata.userid && userprofadminform.userprof.$dirty && !_focussed.userprof && adminuserdata.admin_editable}" hover-highlight admin-save-profile>Save</div>
      <div class="proffeedback">
        <span class="spinner" ng-show="savingprof"><%= image_tag('ajax-loader.gif') %></span>
        <span class="fdback" ng-class="{error: prof_error}" ng-show="prof_fdback && !savingprof && !_focussed.userprof">{{prof_fdback}}</span>
      </div>
    </div>
  </div>
</div>
