<div class="swiper-container" id="item_swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="slide in itemarray" item-swiper-ready>
            <div class="swiper-entity" id="item{{slide[0]._id}}">
                <div class="item_content">
                    <div class="item_img">
                        <img ng-src="{{slide[0].image_src}}" brkn-img />
                    </div>
                    <h3>{{slide[0].headline}}</h3>
                    <p class="item_date">{{slide[0].created_at | date:"MMMM d, yyyy"}}<span class="article_uri"><a href="{{slide[0].article_uri}}" target="_blank">Original Article</a></span></p>
                    <p btf-markdown="slide[0].text"></p>
                </div>


            </div>
        </div>
    </div>
</div>
