<div ng-controller="MainController" class="text-center" >
    <div id="splashScreen">
        <h1>Spherical is Social for Climate.</h1>
        <h3>Spherical is a network to connect people and organizations working together on climate change.</h3>
        <h3></h3>
        <img class="splash-sphere-img" src="/assets/images/BIG-PLANET-transp.png">
        <h3>Discover the network of networks, organizations, and individuals</h3>
        <h3>working to prevent climate change.</h3>
        <br>
        <h3>Create a Sphere, Influence your World.</h3>
        <br>
        <h3>Click here for invitation.</h3>
        <br>
        <h3 id="close-splash" ng-click="closeSplashScreen()">Close X</h3>
    </div>

    <img class="my-sphere" src="/assets/images/my-sphere-earth.png" ng-click="openMySphere()">
    <img class="my-sphere plus-one" src="/assets/images/plus-one.jpg">
    <span id="my-sphere-label">My Sphere</span>
    <img class="my-sphere-background" src="/assets/images/my-sphere-large-background-min.png">

    <img class="sphere-top-img">
    <img class="sphere-top-img-static">
    <img class="sphere-middle-img">
    <img class="sphere-middle-img-static">

    <div class="sphere-middle" ng-class="[backgroundcolor, backgroundimage]">
        <div id="optionsToggle" ng-click="toggleOptions()">
            <h4 ng-show="optionsNowVisible">Number of Rows</h4>
            <input class="blackBtn numRows" ng-show="optionsNowVisible" type="button" value="Switch" ng-click="toggleNumberOfRows()">
            <!--<input id="row-toggle-button" ng-show="optionsNowVisible" type="button" value="List All Feeds" ng-click="getR88rResponse()" > Causes the feed not to work--> 
        </div>

        <img id="storySaveIcon" src="/assets/images/download-icon.png" ng-show="isStoryVisible()" ng-click="saveStoryView(visibleStory)">
        <img id="storyCloseIcon" src="/assets/images/close-circle.png" ng-show="isStoryVisible()" ng-click="closeStoryView()">
        <div ng-show="isStoryVisible()" class="storyView">
            <h3 class="storyHeadline">{{visibleStory.headline}}</h3>
            <div class="storyAbstract">{{visibleStory.abstract}}</div>
            <a target="_blank" href="http://google.com" class="viewArticleLink"><h3 >View Original Article<h3></a>
        </div>

        <img id="allSphereCloseIcon" src="/assets/images/close-circle.png" ng-show="isAllSpheresVisible()" ng-click="closeAllSphereView()">
        <div ng-show="isAllSpheresVisible()" class="allSpheresView">
            <h3 class="allSpheresHeadline">Select Any Sphere:</h3>
            <span ng-repeat="sphere in preLoadedSpheres" class="sphereListItem">
                <div class="sphereItemWrapper">
                    <img class="sphereListItemImage" ng-click="openSphere({{sphere}})" src="{{sphere.src}}">
                    <br>{{sphere.sphereName}}
                </div>
            </span>
        </div>

        <div id="breadCrumbs">
            <h3><a ng-click="openAllSphereView()" id="viewAllSpheres">View All Spheres ></a></h3>
            <h3><a ng-click="getR88rResponse()" ng-href="{{sphereLink}}" id="breadcrumpSphereName"></a> </h3>
            <h3 ng-show="breadcrumbFeed">> <a ng-click="closeStoryView()" ng-href="{{feedLink}}">{{breadcrumbFeed}} </a></h3>
            <a ng-click="getfakeR88rResponse()" id="fakeButton" style="display:none;"></a>
        </div>

        <div class="scrollBarWrapper">
            <div id="leftScrollFade"></div>
            <div class="storyContainer">
              <span ng-repeat="story in r88rResponse" ng-if="newColumn($index, story.img.src)" class="storyBlock">
                <span class="one-half" ng-class="getImageClass(story)" ng-click="clickStory(story)">
                    <img ng-src="{{story.img.src}}" orientable/>
                    <div class="title">{{story.headline}}</div>
                </span>
                <span class="two-half" ng-if="atLeastTwoRows()" ng-click="clickStory(r88rResponse[$index+1])">
                    <span class="title">{{story.title}}</span>
                    <img ng-src="{{r88rResponse[$index+1].img.src}}" />
                </span>
                <span class="two-half" ng-if="atLeastThreeRows()" ng-click="clickStory(r88rResponse[$index+2])">
                    <span class="title">{{story.title}}</span>
                    <img ng-src="{{r88rResponse[$index+2].img.src}}" />
                </span>
            </span>
            </div>
            <div id="rightScrollFade"></div>
        </div>

    </div>
    <img class="sphere-bottom-img">
    <img class="sphere-bottom-img-static">

  </div>

