$image-height: 24em;
$image-width: 32em;



body {
    overflow:hidden;
}

.my-sphere-background {
    display:none;
}

.sphere-top-img-static {
    height: auto;
    width: 30%;
    position:absolute;
    top: -44%;
    left: 35%;
    margin-left: 0;
    z-index:1;
    opacity:.5;
}
.sphere-middle-img-static, .my-sphere-background {
    height: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    margin-top: -20% !important;
    left: 30%;
    margin-top: 0;
    margin-left: 0;      
    z-index:1;
}
.sphere-bottom-img-static {
    height: auto;
    width: 30%;
    position:absolute;
    top:93%;
    left: 35%;      
    margin-left: 0;
    z-index:1;
    opacity:.5;
}

.my-sphere {
    position: absolute;
    height: 10%;
    width: auto;
    top: 3%;
    left: 1%;
}

.my-sphere.plus-one {
    display: none;

}

#my-sphere-label {
    position: absolute;
    left:1.4%;
}

.text-center {
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sphere-middle.clear {
    //background-image: none ;
}
.sphere-middle.full {
/*    background-image: url("/assets/images/cryo_sphere1.png"); */
}
.sphere-middle.half{
   // background-image: url("/assets/images/cryo_sphere1-half-transparent.png");
}

.sphere-middle.gray {
    background-color: lightgray !important;
}

.sphere-middle.black{
    background-color: black!important;
}

.sphere-middle.white{
    background-color: white!important;
}

.storyBlock {
    display: inline-block;
    height: 27em;
    max-width: 600px;

}


.one-half img{
    margin: 0 auto;
    display: block;
    position: static;
}


.two-half, .one-half, {
    background-color: rgba(51, 102, 204, 0.8);
    display: block;
    position:relative;
    height: $image-height;
    width: $image-width;
    overflow: hidden;    
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.0);
}

.two-half img, {
    display:inline;
    height: auto;
    width: 100%;
}

.scrollBarWrapper {
    max-height: 27em;
    position: absolute;
    top: 50%;
    margin-top:-12em;
    overflow: hidden;
    max-width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    z-index:2;
}

.storyContainer {
    overflow: auto;
}

.sphere-middle.black #rightScrollFade {
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}
.sphere-middle.black #leftScrollFade {
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
.sphere-middle.gray #rightScrollFade {
    background: linear-gradient(to left, rgba(172,172,172,1), rgba(172,172,172,0));
}
.sphere-middle.gray #leftScrollFade {
    background: linear-gradient(to right, rgba(172,172,172,1), rgba(172,172,172,0));
}
.sphere-middle.white #rightScrollFade {
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}
.sphere-middle.white #leftScrollFade {
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

#rightScrollFade {
    position:absolute;
    top:0;
    right:0;
    bottom:11% !important;
    width:12em;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}

#leftScrollFade {
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
    bottom:11% !important;
    width:12em;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

#optionsToggle{
    display:none;
    margin-right:3em;
    float:right;
    position:relative;
    z-index: 3;
}

#optionsToggle input{
}

#row-toggle-button {
    display: none;
    position: relative;
    margin: 16px auto;
}

.sphereItemWrapper {
    max-width:16%;
    display: inline-block;
    margin:1em;
    font-size: large;
}

.sphereListItemImage {
    margin: 0em;
    width: 100%;
    padding-bottom: 1em;
}

#allSphereCloseIcon {
    height: 50px;
    width: auto;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 6;

}

.allSpheresView {
    width: 80%;
    height:90%;
    overflow: auto;
    white-space: normal;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 4;
    color: #d6d6d6;
    background-color: #383838;
    border-radius :8px;
}

.storyView {
    width: 500px;
    overflow: auto;
    white-space: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    z-index: 4;
    color: #d6d6d6;
    background-color: #383838;
    border-radius :8px;
}

.storyView .storyAbstract {
    height: 345px;
    overflow: hidden;
    padding: 0 25px;
}

.storyView .storyHeadline {
    padding: 0 25px;
}

#storyCloseIcon {
    height: 50px;
    width: auto;
    position: absolute;
    top: 56%;
    left: 51%;
    margin-top: -290px;
    margin-left: 250px;
    z-index: 6;
}

#storySaveIcon {
    height: 50px;
    width: auto;
    position: absolute;
    top: 110%;
    left: 51%;
    margin-top: -290px;
    margin-left: 250px;
    z-index: 6;
}

#optionsToggle {
    height:10em;
    width:10em;
}

.title {
    padding: 0 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 14em;
    text-align: center;
    width: 23.8em;
    height: 4em;
    line-height:4em;
    font-size:19px;
    background-color: rgba(255,255,255,0.8);
}

.longWideImage {
    height:100%;
    width:auto;
}

.tallNarrowImage {
    height:auto;
    width:100%;
}

#breadCrumbs {
    text-align: left;
    position: absolute;
    top:21%;
    z-index: 2;
    background-color: lightgray;
    border-radius: 3px;
    padding: 3px 1em;
}

#breadCrumbs h3 {
    display: inline;
}

/* IPad portrait*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation : portrait) {
    
    .scrollBarWrapper {
        -webkit-overflow-scrolling: touch;
    }

    .sphere-top-img-static {
        height: auto;
        width: 50%;
        position:absolute;
        top: -25%;
        left: 25%;
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }
    .sphere-middle-img-static, .my-sphere-background {
        height: auto;
        width: 70%;
        position: absolute;
        top: 20%;
        left: 15%;
        margin-top: 0;
        margin-left: 0;      
        z-index:1;
    }
    .sphere-bottom-img-static {
        height: auto;
        width: 50%;
        position:absolute;
        top:85%;
        left: 25%;      
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }

}

/* IPad landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation : landscape) {
    
    .scrollBarWrapper {
        -webkit-overflow-scrolling: touch;
    }

    .sphere-top-img-static {
        height: auto;
        width: 40%;
        position:absolute;
        top: -45%;
        left: 30%;
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }
    .sphere-middle-img-static, .my-sphere-background {
        height: auto;
        width: 50%;
        position: absolute;
        top: 15%;
        left: 25%;
        margin-top: 0;
        margin-left: 0;      
        z-index:1;
    }
    .sphere-bottom-img-static {
        height: auto;
        width: 40%;
        position:absolute;
        top:90%;
        left: 30%;      
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }

}

/* IPhone portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : portrait) {    


    .storyBlock {
        display: inline-block;
        height: 7em;
        max-width: 600px;
    }

    .scrollBarWrapper {
        max-height: 7em;
        position: absolute;
        -webkit-overflow-scrolling: touch;
        top: 10%;
        overflow: hidden;
        max-width: 100%;
        overflow-y: hidden;
        white-space: nowrap;
        z-index:2;
    }

    #rightScrollFade, #leftScrollFade {
        display: none;
    }

    .sphere-top-img-static {
        height: auto;
        width: 50%;
        position:absolute;
        top: -25%;
        left: 25%;
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }
    .sphere-middle-img-static, .my-sphere-background {
        height: auto;
        width: 70%;
        position: absolute;
        top: 20%;
        left: 15%;
        margin-top: 0;
        margin-left: 0;      
        z-index:1;
    }
    .sphere-bottom-img-static {
        height: auto;
        width: 50%;
        position:absolute;
        top:85%;
        left: 25%;      
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }

}

/* IPhone landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : landscape) {    
    
    .storyBlock {
        display: inline-block;
        height: 7em;
        max-width: 600px;
    }

    .scrollBarWrapper {
        max-height: 7em;
        position: absolute;
        top: 10%;
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
        max-width: 100%;
        overflow-y: hidden;
        white-space: nowrap;
        z-index:2;
    }

    #rightScrollFade, #leftScrollFade {
        display: none;
    }

    .sphere-top-img-static {
        height: auto;
        width: 40%;
        position:absolute;
        top: -45%;
        left: 30%;
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }
    .sphere-middle-img-static, .my-sphere-background {
        height: auto;
        width: 50%;
        position: absolute;
        top: 15%;
        left: 25%;
        margin-top: 0;
        margin-left: 0;      
        z-index:1;
    }
    .sphere-bottom-img-static {
        height: auto;
        width: 40%;
        position:absolute;
        top:90%;
        left: 30%;      
        margin-left: 0;
        z-index:1;
        opacity:.5;
    }

}