<div ng-controller="MainController" class="text-center" >

    <img class="sphere-top-img">
    <img class="sphere-top-img-static">
    <img class="sphere-middle-img">
    <img class="sphere-middle-img-static">

    <div class="sphere-middle" ng-class="[backgroundcolor, backgroundimage]">
        <div id="optionsToggle" ng-click="toggleOptions()">
            <h4 ng-show="optionsNowVisible">Number of Rows</h4>
            <input class="blackBtn numRows" ng-show="optionsNowVisible" type="button" value="Switch" ng-click="toggleNumberOfRows()">
            <input id="row-toggle-button" ng-show="optionsNowVisible" type="button" value="List All Feeds" ng-click="getR88rResponse()" >
        </div>

        <img id="storyCloseIcon" src="/assets/images/close-circle.png" ng-show="isStoryVisible()" ng-click="closeStoryView()">
        <div ng-show="isStoryVisible()" class="storyView">
            <h3 class="storyHeadline">{{visibleStory.headline}}</h3>
            <div class="storyAbstract">{{visibleStory.abstract}}</div>
            <a href="http://google.com"><h3 class="viewArticleLink">View Original Article<h3></a>
        </div>

        <div id="breadCrumbs">
            <h3><a ng-click="getR88rResponse()" ng-href="{{sphereLink}}">{{breadcrumbSphere}}</a> </h3>
            <h3 ng-show="breadcrumbFeed">> <a ng-click="closeStoryView()" ng-href="{{feedLink}}">{{breadcrumbFeed}} </a></h3>
        </div>

        <div class="scrollBarWrapper">
            <div id="leftScrollFade"></div>
            <div class="storyContainer">
              <span ng-repeat="story in r88rResponse" ng-if="newColumn($index, story.img.src)" class="storyBlock">
                <span class="one-half" ng-class="getImageClass(story)" ng-click="clickStory(story)">
                    <img ng-src="{{story.img.src}}" orientable/>
                    <div class="title">{{story.headline}}</div>
                </span>
                <span class="two-half" ng-if="atLeastTwoRows()" ng-click="clickStory(r88rResponse[$index+1])">
                    <span class="title">{{story.title}}</span>
                    <img ng-src="{{r88rResponse[$index+1].img.src}}" />
                </span>
                <span class="two-half" ng-if="atLeastThreeRows()" ng-click="clickStory(r88rResponse[$index+2])">
                    <span class="title">{{story.title}}</span>
                    <img ng-src="{{r88rResponse[$index+2].img.src}}" />
                </span>
            </span>
            </div>
            <div id="rightScrollFade"></div>
        </div>

    </div>
    <img class="sphere-bottom-img">
    <img class="sphere-bottom-img-static">

  </div>

