<div ng-controller="UserCtrl">
    <% if current_user && controller_name != "admin" %>

      <div class="userspheres" ng-repeat="sphere in demospheres">
        <div class="usphere psphere" ng-class="in_words($index)" data-sphere="{{sphere.ident}}" data-spherename="{{sphere.name}}" user-sphere  usphere-revert><a href="{{sphere.dashurl || '#'}}"><img src="/assets/{{sphere.spherelogo}}"></a></div>
      </div>

      <% if controller_name != 'curate' %>
        <div class=menubox>
          <div class="menu_item profile" hover-highlight>
            <a href="/sphere/profile" class="standoff"><em><%= current_user.screenname %></em></a>
            <span class="image"><a href="/sphere/profile"><img ng-src="{{usersignin.signedin.bigpic}}" brkn-img /></a></span>
          </div>

          <div class="menu_item tools" hover-highlight><a href="/sphere/tools" class="standoff">Tools</a></div>

          <div class="menu_item invite" hover-highlight><a href="/sphere/invite" class="standoff">Invite</a></div>

          <%= form_tag("/sphere/signout_submit", :id => "signout_form") do %>
            <div class="menu_item signout" hover-highlight submittor><span class="standoff">Sign Out</span></div>
          <% end %>
        </div>
      <% end %>

    <% end %>
</div>
