<div class="signin_container">
    <form method="post" id="user_signin" action="#" accept-charset="UTF-8">
      <fieldset style="text-align:center;">
        <input type="text" placeholder="User-handle or Email" name="user[cred]" id="user_cred" />
        <br />
        <input type="password" placeholder="Password" name="user[password]" id="user_password" />
      </fieldset>
      
      <p id="submit_notice" class="above-btn-notice red"><% if @msg -%><%= @msg %><% else -%>&nbsp;<% end -%></p>

      <div id="signin_submit" class="sphere-btn bigblue">Sign In</div>
      
    </form>
    
    
</div>
