<div class="signin_container">
    <%= form_tag("/sphere/signin_submit") do %>
      <fieldset style="text-align:center;">
        <input type="text" placeholder="User-handle or Email" name="user[cred]" value="<%= flash[:cred] %>" />
        <br />
        <input type="password" placeholder="Password" name="user[password]" />
      </fieldset>
      
      <p class="submit_notice"><% if flash[:msg] -%><%= flash[:msg] %><% else -%>&nbsp;<% end -%></p>

      <button class="sphere-btn bigblue">Sign In</button>
      
    <% end -%>


    <p style="background:#fff;"><%= session[:user_id] %></p>
</div>
