<% if topic_results.present? -%>
  <div class="swiper-wrapper" style="padding-left:5px;overflow:visible;">
      <% topic_results.each_with_index do |topic, index| -%>
          <div class="swiper-slide">
              <div class="swiper-entity" id="<%= topic.id %>">
                  <h3><%= topic.display_identifier %></h3>
              </div>
          </div>
      <% end -%>
  </div>
<% end -%>