<div id="personal_profile">
    <form id="pprofile-dropzone" class="dropzone">
        <div class="dz-message">To upload your picture,<br />drop file here (or click)</div>
       <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </form>
</div>