<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Topical</title>
    <style>
        body {
            background: #fff;
        }
        p {
            margin: 10px 20px;
            font: .8em/1.4em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
        }
    </style>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper"><%= yield %></div>
</body>
</html>